<?xml version="1.0"?>
{{ ansible_managed | comment('xml') }}
<yandex>
  <remote_servers>
{% for shard_name, replicas in clickhouse_shards.items() | list %}
    <{{ shard_name }}>
    {% for shard in shards %}
      <shard>
        <internal_replication>true</internal_replication>
        <replica>
          <host>{{ shard['host'] }}</host>
          <port>{{ shard['port'] | default(9000) }}</port>
          <user>default</user>
          <password>{{clickhouse_users_default_password}}</password>
        </replica>
      </shard>
    {% endfor %}
    </{{ shard_name }}>
{% endfor %}
  </remote_servers>
</yandex>
